body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.form-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-sign {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* This is the cards */
.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 950px;
  border-radius: 15px;
}

.card-img-top {
  border-radius: 6px;
}

/* THis is the view-events page */

.jumbotron {
  display: flex;
  flex-direction: column;
}

.img-fluid {
  max-height: 500px;
}

.event-info {
  display: flex;
  justify-content: center;
}

.coin {
  margin-right: 20px;
}
.location {
  margin-left: 20px;
}

.attending {
  margin-left: 20px;
}

.event-description {
  margin-top: 20px;
  line-height: 1.6;
  max-width: 500px;
}

.main-content {
  display: flex;
  justify-content: center;
}

#logo {
  width: 40%;
  height: auto;
}
