body {
  font: 14px "Open Sans", "Montserrat", sans-serif;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #f8f9fa;
}

a {
  color: #00b7ff;
}

/* h1 {
  color: 15px;
} */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #212529;
}

.form-container h1 {
  color: #f8f9fa;
}
.form-sign > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-container > img {
  width: 300px;
  height: auto;
}

.form-container button {
  background-color: #13e4b2;
  border-color: #13e4b2;
}
/* This is the cards */
.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 950px;
  border-radius: 15px;
}

.card-img-top {
  border-radius: 6px;
}

/* THis is the view-events page */

.jumbotron {
  display: flex;
  flex-direction: column;
}

.img-fluid {
  max-height: 500px;
}

.event-info {
  display: flex;
  justify-content: center;
}

.coin {
  margin-right: 20px;
}
.location {
  margin-left: 20px;
}

.attending {
  margin-left: 20px;
}

.event-description {
  margin-top: 20px;
  line-height: 1.6;
  max-width: 500px;
}

.main-content {
  display: flex;
  justify-content: center;
}

.logo {
  width: 170px;
  height: auto;
}
/* #logo {
  width: 170px;
  height: auto;
} */

/* body {
  background-color: #212529;
  color: whitesmoke;
} */

div .text-end a {
  text-decoration: none;
}

main.form-sign {
  text-align: center;
}

div .form-spacing {
  padding: 10px;
}
/* 
#13e4b2 */

/* div .jumbotron {
  height: 50%;
} */

.form-sign img {
  width: 250px;
  height: auto;
  padding-bottom: 50px;
}

/* ? colors 
dark: #212529
ghostwhite: #f8f9fa
green: #13e4b2

*/
#hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hero img {
  height: 100%;
  width: auto;
  position: relative;
}

span {
  background-color: #13e4b2;
}

/* CREATE EVENT */

#create-event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#create-event-container label {
  font-size: 16px;
}

#create-event-container * {
  padding: 3px;
}

#create-event-container button {
  margin-top: 10px;
  width: 100%;
  background-color: #13e4b2;
  border-color: #13e4b2;
  color: #212529;
}

div .error-message {
  color: #dc3444;
}
