/* ? colors 
dark: #212529
ghostwhite: #f8f9fa
green: #13e4b2

*/

body {
  font: 14px "Open Sans", "Montserrat", sans-serif;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #f8f9fa;
}

/* h1 {
  color: 15px;
} */

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

/* visited link */

/* mouse over link */
a:hover,
a:active {
  color: #13e4b2;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #13e4b2;
  border-color: #13e4b2;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #212529;
}

.form-container h1 {
  color: #f8f9fa;
}
.form-sign > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-container > img {
  width: 300px;
  height: auto;
}

.form-container button {
  background-color: #13e4b2;
  border-color: #13e4b2;
}
/* This is the cards */
.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 950px;
  border-radius: 15px;
  text-decoration: none;
}

.card-body > * {
  text-decoration: none;
}

.card-img-top {
  border-radius: 6px;
}

/* THis is the view-events page */

.jumbotron {
  display: flex;
  flex-direction: column;
}

.img-fluid {
  max-height: 600px;
}

.event-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.event-info img {
  width: 50px;
}

.event-info > div {
  min-width: 100px;
}

.event-info > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin {
  margin-right: 20px;
}
.location {
  margin-left: 20px;
}

.attending {
  margin-left: 20px;
}

.headercontainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btncontainer {
  display: flex;
  justify-content: center;
}

.btncontainer > * {
  margin: 10px;
}

.event-description {
  margin-top: 20px;
  line-height: 1.6;
  max-width: 500px;
}

.all-eventinfo {
  margin: 0 50px;
}

.main-content {
  display: flex;
  justify-content: center;
}

.logo {
  width: 170px;
  height: auto;
}
/* #logo {
  width: 170px;
  height: auto;
} */

/* body {
  background-color: #212529;
  color: whitesmoke;
} */

div .text-end a {
  text-decoration: none;
}

main.form-sign {
  text-align: center;
}

div .form-spacing {
  padding: 10px;
}
/* 
#13e4b2 */

/* div .jumbotron {
  height: 50%;
} */

.form-sign img {
  width: 250px;
  height: auto;
  padding-bottom: 50px;
}

/* ? colors 
dark: #212529
ghostwhite: #f8f9fa
green: #13e4b2

*/

.profile-view {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hero img {
  height: 100%;
  width: auto;
  position: relative;
}

@media only screen and (max-width: 995px) {
  #hero img {
    display: none;
  }
}

@media only screen and (max-width: 995px) {
  #hero {
    margin: 60px 0px;
  }
}

span {
  background-color: #13e4b2;
}

/* CREATE EVENT */

#create-event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#create-event-container label {
  font-size: 16px;
}

#create-event-container * {
  padding: 3px;
}

#create-event-container button {
  margin-top: 10px;
  width: 100%;
  background-color: #13e4b2;
  border-color: #13e4b2;
  color: #212529;
}

div .error-message {
  color: #dc3444;
}

div .generic-message {
  color: #212529;
}

.flex-shrink-0 {
  display: flex;
  align-items: center;
}

.flex-shrink-0 button {
  margin-right: 40px;
}

.error-page-container > * {
  margin: 20px 0 0 50px;
}
